*~
*.bak
*.pyc
Thumbs.db
*.class
*.DS_Store
test-temp
tools-base
/out
.knownPackages
**/stale_outputs_checked
**/.gradle
android/testData/projects/**/build
android/testData/snapshots/**/build
android-templates/testData/golden/**/build
.idea/google-java-format.xml
.idea/inspectionProfiles
**/AGENTS.local.md